<!--Navbar -->
<nav class="mb-0 navbar navbar-expand-lg navbar-dark blue-gradient">
  <div class="container">
    <% if current_user %>
      <a class="navbar-brand" href="/users/dashboard">Speek</a>
    <% else %>
      <a class="navbar-brand" href="/">Speek</a>
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
      aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <form class="form-inline">
            <div class="md-form my-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="search_name">
            </div>
          </form>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" href="/communities">
            <i class="fas fa-home"></i>
            Communities
          </a>
        </li>
        <% if current_user %>
          <li class="nav-item">
            <a class="nav-link waves-effect waves-light" data-toggle="modal" data-target="#modalPostForm">
              <i class="fas fa-plus"></i>
              New Post
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect waves-light">1
              <i class="fas fa-envelope"></i>
            </a>
          </li>
          <% if current_user.avatar.presence %>
            <li class="nav-item avatar dropdown">
              <a class="nav-link" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <%= image_tag current_user.avatar.variant(resize_to_limit: [25, 25]), class: "rounded-circle z-depth-0" %>
              </a>
            <% else %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-user"></i>
                  @<%= current_user.username %>
                </a>
              <% end %>
              <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary"
            aria-labelledby="navbarDropdownMenuLink-333">
                <%= link_to "Your Profile", user_path(current_user), class: "dropdown-item" %>
                <%= link_to "Edit Profile", edit_user_path(current_user), class: "dropdown-item" %>
                <%= link_to "Logout", logout_path, method: "delete", class: "dropdown-item" %>
              </div>
            </li>
          <% else %>
            <li class="nav-item">
              <a class="nav-link waves-effect waves-light" data-toggle="modal" data-target="#modalLoginForm">
                <i class="fas fa-user"></i>Login
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-effect waves-light" href="/register">
                <i class="fas fa-user"></i>Register
              </a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
  <!--/.Navbar -->
