
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Speek</title>
    <%= csrf_meta_tags %> 
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'application', media: "all", 'data-turbolinks-track' => true %>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
  </head>
  <body style="background: #f5f5f5;">
    <%= render "layouts/navbar" %>

    <%= render "sessions/login_modal" %>
    <% if current_user%>
      <%= render "posts/new_post_modal" %>
    <% end %>

    <% flash.each do |name, msg| %>
    <div class="container pt-2" style="background: #fff">
      <%= content_tag :div, class: "note note-#{name} fade show" do %>
        <%= msg %>
      <% end %>
    </div> 
    <% end %> 

  <%= yield %>
<div class="container d-block d-lg-none" style="position relative">
  <a class="btn-floating btn-lg btn-deep-purple btn-circle d-block d-lg-none" style="position: fixed; bottom: 20px; right: 20px;" data-toggle="modal" data-target="#modalPostForm"><i class="fas fa-plus white-text"></i></a>
</div>



<script type="text/javascript">
$('#modalPostForm').on('show.bs.modal', function(e) {
    var postId = $(e.relatedTarget).data('id');
    $(e.currentTarget).find('input[name="post[parent_id]"]').val(postId);
});

$('#modalPostForm').on('show.bs.modal', function(e) {
    var communityId = $(e.relatedTarget).data('community');
    $(e.currentTarget).find('select[name="post[community_id]"]').val(communityId);
});
</script>
  </body>
</html>